<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="places-buttons">
          <div class="row">
            <div class="col-lg-8 ml-auto mr-auto">
              <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                  <a routerLink='/AddNewStudent'><button type="button" class="btn btn-primary btn-block">Add a new
                      Student</button></a>
                </div>
                <div class="col-md-4"> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">

        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
          <div class="col-md-4">
              <form>
                  <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search by Reg Number, Index Number">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="nc-icon nc-zoom-split"></i>
                      </div>
                    </div>
                  </div>
              </form>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-8 ml-auto mr-auto">
            <div class="row">
              <div class="table-responsive">
               
                <div class="row">
                  <div class="col-md-3"><b>Index Number</b></div>
                  <div class="col-md-3"><b>Name</b></div>
                  <div class="col-md-3"><b>Year</b></div>
                  <div class="col-md-3"><b>Semester</b></div>
                </div>
                <hr>
               <a routerLink='/studentProfile'> <div class="row">
                  <div class="col-md-3">EP2073</div>
                  <div class="col-md-3">Nishadi</div>
                  <div class="col-md-3">4</div>
                  <div class="col-md-3">1</div>
                </div>
              </a>
              <a routerLink='/studentProfile'> <div class="row">
                <div class="col-md-3">EP2295</div>
                <div class="col-md-3">Erangika</div>
                <div class="col-md-3">2</div>
                <div class="col-md-3">2</div>
              </div>
              </a>
              <a routerLink='/studentProfile'> <div class="row">
                <div class="col-md-3">EP2076</div>
                <div class="col-md-3">Thilini</div>
                <div class="col-md-3">1</div>
                <div class="col-md-3">1</div>
              </div>
              </a>
              <a routerLink='/studentProfile'> <div class="row">
                <div class="col-md-3">EP2078</div>
                <div class="col-md-3">Gayani</div>
                <div class="col-md-3">4</div>
                <div class="col-md-3">1</div>
              </div>
              </a>
              <a routerLink='/studentProfile'> <div class="row">
                <div class="col-md-3">EP2079</div>
                <div class="col-md-3">Amila</div>
                <div class="col-md-3">3</div>
                <div class="col-md-3">1</div>
              </div>
              </a>
              <a routerLink='/studentProfile'> <div class="row">
                <div class="col-md-3">EP2255</div>
                <div class="col-md-3">Kamal</div>
                <div class="col-md-3">3</div>
                <div class="col-md-3">1</div>
              </div>
              </a>
              <a routerLink='/studentProfile'> <div class="row">
                <div class="col-md-3">EP2255</div>
                <div class="col-md-3">Ajith</div>
                <div class="col-md-3">1</div>
                <div class="col-md-3">1</div>
              </div>
              </a>
              <a routerLink='/studentProfile'> <div class="row">
                <div class="col-md-3">EP2259</div>
                <div class="col-md-3">Nimal</div>
                <div class="col-md-3">3</div>
                <div class="col-md-3">1</div>
              </div>
              </a>
              <a routerLink='/studentProfile'> <div class="row">
                <div class="col-md-3">EP2253</div>
                <div class="col-md-3">Namal</div>
                <div class="col-md-3">1</div>
                <div class="col-md-3">1</div>
              </div>
              </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>