<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="places-buttons">
          <div class="row">
            <div class="col-lg-8 ml-auto mr-auto">
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                  <a routerLink='/AddNewLec'><button type="button" class="btn btn-primary btn-block">Add a new Lecturer</button></a>
                </div>
                <div class="col-md-4"> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
          
          <div class="row button1">
              <div class="col-md-4"></div>
              <div class="col-md-4"></div>
              <div class="col-md-4">
                  <form>
                      <div class="input-group no-border">
                        <input type="text" value="" class="form-control" placeholder="Search by Reg Number">
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <i class="nc-icon nc-zoom-split"></i>
                          </div>
                        </div>
                      </div>
                  </form>
              </div>
          </div>
           <div class="row">
            <div class="col-lg-8 ml-auto mr-auto">
              <div class="row">
                <div class="table-responsive">
                  <div class="row">
                    <div class="col-md-3"><b>Register Number</b></div>
                    <div class="col-md-3"><b>Name</b></div>
                    <div class="col-md-3"><b>Designation</b></div>
                    <div class="col-md-3"><b>Department</b></div>
  
                  </div>
                  <hr>
                 <a routerLink='/lecturerProfile'> <div class="row">
                    <div class="col-md-3">L0001</div>
                    <div class="col-md-3">Dr. Anura</div>
                    <div class="col-md-3">Senior lecturer</div>
                    <div class="col-md-3">CIS</div>
                  </div>
                </a>
                <a routerLink='/lecturerProfile'> <div class="row">
                  <div class="col-md-3">L0002</div>
                  <div class="col-md-3">Mr. Dangalle</div>
                  <div class="col-md-3">Lecturer</div>
                  <div class="col-md-3">CIS</div>
                </div>
               </a>
               <a routerLink='/lecturerProfile'> <div class="row">
                <div class="col-md-3">L0003</div>
                <div class="col-md-3">Dr. Kumara</div>
                <div class="col-md-3">Department Head</div>
                <div class="col-md-3">CIS</div>
              </div>
              </a>
              <a routerLink='/lecturerProfile'> <div class="row">
                <div class="col-md-3">L0004</div>
                <div class="col-md-3">Dr. Priyan</div>
                <div class="col-md-3">Senior lecturer</div>
                <div class="col-md-3">CIS</div>
              </div>
              </a>
              <a routerLink='/lecturerProfile'> <div class="row">
                <div class="col-md-3">L0005</div>
                <div class="col-md-3">Dr. Pubudu</div>
                <div class="col-md-3">Senior lecturer</div>
                <div class="col-md-3">CIS</div>
              </div>
              </a>
              <a routerLink='/lecturerProfile'> <div class="row">
                <div class="col-md-3">L0006</div>
                <div class="col-md-3">Dr. Kapila</div>
                <div class="col-md-3">Senior lecturer</div>
                <div class="col-md-3">PST</div>
              </div>
              </a>
              <a routerLink='/lecturerProfile'> <div class="row">
                <div class="col-md-3">L0007</div>
                <div class="col-md-3">Mr. Anuradha</div>
                <div class="col-md-3">Lecturer</div>
                <div class="col-md-3">CIS</div>
              </div>
              </a>
              <a routerLink='/lecturerProfile'> <div class="row">
                <div class="col-md-3">L0008</div>
                <div class="col-md-3">Mr. kalinga</div>
                <div class="col-md-3">Lecturer</div>
                <div class="col-md-3">CIS</div>
              </div>
              </a>
              <a routerLink='/lecturerProfile'> <div class="row">
                <div class="col-md-3">L0009</div>
                <div class="col-md-3">Dr. Akalanka</div>
                <div class="col-md-3">Senior lecturer</div>
                <div class="col-md-3">CIS</div>
              </div>
              </a>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>