<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
       <a routerLink='/studentManagement'> <div class="image" ><i class="fa fa-arrow-left"></i></div></a>    
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="assets/img/default-avatar.png" alt="...">
          </a>
        </div>
        <div class="row pr-row"><p><b>Nishadi Jayasighe</b></p></div>
       <br><br>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <p><b>Faculty :</b> Applied Sciences</p>
            <p><b>Reg Number :</b> 14/AS/CI/057</p>
            <p><b>Email :</b> jayasingheane@gmail.com</p>
           
          </div>
          <div class="col-md-5">
            <p><b>Department :</b> CIS</p>
            <p><b>Index Number :</b> EP2073</p>
            <p><b>Phone Number :</b> 0714785236</p>
           
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2">
                  <div class="update ml-auto mr-auto">
                    <button type="button" class="btn  button-container delete">Delete Profile</button>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="update ml-auto mr-auto">
                    <a routerLink= '/EditStdProfile'><button type="submit" class="btn btn-primary button-container">Update Profile</button></a>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="update ml-auto mr-auto">
                    <button type="button" class="btn btn-primary button-container">Change Password</button>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
          <div class="card-body">
              <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <br><br><br><br><br>
                    <a routerLink='/ApplyExam'> <div class="image" ><button type="button" class="btn btn-primary btn-block">Apply for Exam</button></div></a>    
                  </div>
                  <div class="col-md-4"> </div>
                </div>
          </div>
        </div>
    </div>
</div>
    