.delete{
    background-color: rgb(228, 13, 13);
}
.delete:hover{
    background-color: rgb(179, 34, 34) !important;
}
.pr-row p{
    text-align: center;
    font-size: 20px;
    margin: auto;
}
.down{
    margin-bottom: 10px;
}