<div class="container">
    <br>
    <div class="row"><a routerLink='/lecturerProfile'> <div class="image" ><i class="fa fa-arrow-left"></i></div></a> </div>
    
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
           <div class="row"><h2><b><U>REQUESTS</U></b></h2></div>
        </div>
        <div class="col-md-4"></div>

    </div>

    <div class="row">
        <div class="col-lg-8 ml-auto mr-auto">
          <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
              <div class="d-flex">
                  <div class="dropdown mr-1">
                    <button type="button" alignment="left" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-expanded="false" data-offset="10,20">
                      Year   
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                      <a class="dropdown-item" href="#">1st Year</a>
                      <a class="dropdown-item" href="#">2nd Year</a>
                      <a class="dropdown-item" href="#">3rd Year</a>
                      <a class="dropdown-item" href="#">4th Year</a>
                    </div>
                    
                  </div>
                  <div class="dropdown mr-1">
                      <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-expanded="false" data-offset="10,20">
                        Semester
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                        <a class="dropdown-item" href="#">1st Semester</a>
                        <a class="dropdown-item" href="#">2nd Semester</a>
                      </div>
                  </div>
                </div>
          
              </div>
            

          </div>    
        </div>
      </div> 
    
    
    <div class="row">
        <div class="col-md-3"><h4><b>Department</b></h4></div>
        <div class="col-md-3"><h4><b>Year</b></h4></div>
        <div class="col-md-3"><h4><b>Semester</b></h4></div>
        <div class="col-md-3"><h4><b>EP Number</b></h4></div>
    </div>
    <a routerLink='/ApprovalForm'><div class="row pr-row">
        <div class="col-md-3">CIS</div>
        <div class="col-md-3">4</div>
        <div class="col-md-3">2</div>
        <div class="col-md-3">EP3090</div>
    </div></a>
    <a routerLink='/ApprovalForm'><div class="row">
        <div class="col-md-3">CIS</div>
        <div class="col-md-3">4</div>
        <div class="col-md-3">1</div>
        <div class="col-md-3">EP2073</div>
    </div></a>
    <a routerLink='/ApprovalForm'><div class="row">
        <div class="col-md-3">CIS</div>
        <div class="col-md-3">3</div>
        <div class="col-md-3">2</div>
        <div class="col-md-3">EP3091</div>
    </div></a>
    <a routerLink='/ApprovalForm'><div class="row">
        <div class="col-md-3">CIS</div>
        <div class="col-md-3">2</div>
        <div class="col-md-3">2</div>
        <div class="col-md-3">EP3120</div>
    </div></a>
    <a routerLink='/ApprovalForm'><div class="row">
            <div class="col-md-3">CIS</div>
            <div class="col-md-3">2</div>
            <div class="col-md-3">2</div>
            <div class="col-md-3">EP3121</div>
    </div></a>
    <a routerLink='/ApprovalForm'><div class="row">
            <div class="col-md-3">CIS</div>
            <div class="col-md-3">2</div>
            <div class="col-md-3">2</div>
            <div class="col-md-3">EP3122</div>
    </div></a>
    <a routerLink='/ApprovalForm'><div class="row">
            <div class="col-md-3">CIS</div>
            <div class="col-md-3">2</div>
            <div class="col-md-3">2</div>
            <div class="col-md-3">EP3123</div>
    </div></a>
    <a routerLink='/ApprovalForm'><div class="row">
            <div class="col-md-3">CIS</div>
            <div class="col-md-3">1</div>
            <div class="col-md-3">2</div>
            <div class="col-md-3">EP3124</div>
    </div></a>
    <a routerLink='/ApprovalForm'><div class="row">
            <div class="col-md-3">CIS</div>
            <div class="col-md-3">2</div>
            <div class="col-md-3">2</div>
            <div class="col-md-3">EP3125</div>
    </div></a>
    <a routerLink='/ApprovalForm'><div class="row">
            <div class="col-md-3">CIS</div>
            <div class="col-md-3">1</div>
            <div class="col-md-3">2</div>
            <div class="col-md-3">EP3126</div>
    </div></a>
    <a routerLink='/ApprovalForm'><div class="row">
            <div class="col-md-3">CIS</div>
            <div class="col-md-3">1</div>
            <div class="col-md-3">2</div>
            <div class="col-md-3">EP3127</div>
    </div></a>
    <a routerLink='/ApprovalForm'><div class="row">
            <div class="col-md-3">CIS</div>
            <div class="col-md-3">1</div>
            <div class="col-md-3">2</div>
            <div class="col-md-3">EP3128</div>
    </div></a>
    <a routerLink='/ApprovalForm'><div class="row">
            <div class="col-md-3">CIS</div>
            <div class="col-md-3">1</div>
            <div class="col-md-3">2</div>
            <div class="col-md-3">EP3129</div>
    </div></a>
    <a routerLink='/ApprovalForm'><div class="row">
            <div class="col-md-3">CIS</div>
            <div class="col-md-3">1</div>
            <div class="col-md-3">2</div>
            <div class="col-md-3">EP3130</div>
    </div></a>
    <a routerLink='/ApprovalForm'><div class="row">
            <div class="col-md-3">CIS</div>
            <div class="col-md-3">1</div>
            <div class="col-md-3">2</div>
            <div class="col-md-3">EP3224</div>
    </div></a>

</div>