
<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <a routerLink='/lecturerManagement'> <div class="image" ><i class="fa fa-arrow-left"></i></div></a>   
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="assets/img/images.png" alt="...">
          </a>
        </div>
        <div class="row pr-row"><p><b>Mr. Kalinga Gunawardhana</b></p></div>
       <br><br>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <p><b>Designaltion :</b>  Lecturer(Prob)</p>
            <p><b>Department   :</b>  CIS</p>
            <p><b>Email        :</b>  Kalinga@gmail.com</p>
           
          </div>
          <div class="col-md-5">
            <p><b>Faculty    :</b> Applied Science</p>
            <p><b>Reg Number :</b> L0008</p>
            <p><b>Number     :</b> 0714985456</p>
          
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2">
                  <div class="update ml-auto mr-auto">
                    <button type="button" class="btn  button-container delete">Delete Profile</button>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="update ml-auto mr-auto">
                    <a routerLink= '/EditLecProfile'><button type="submit" class="btn btn-primary button-container">Update Profile</button></a>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="update ml-auto mr-auto">
                    <button type="button" class="btn btn-primary button-container">Change Password</button>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
          <div class="card-body">
              <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <br><br><br><br>
                    <a routerLink='/ApproveSubjects'> <div class="image" ><button type="button" class="btn btn-primary btn-block">Approve Subjects</button></div></a>   
                    
                  </div>
                  <div class="col-md-4"> </div>
                </div>
          </div>
        </div>
    </div>
</div>
    