<div class="container">
    <br>
    <a routerLink='/studentProfile'>
        <div class="row prop">
            <p>Get Studetn profile</p>
        </div>
    </a>
    <div class="row"><a routerLink='/ApproveSubjects'>
            <div class="image"><i class="fa fa-arrow-left"></i></div>
        </a> </div>
        <br>
    <div class="row">
        <p><b>Name :</b> Nishadi Jayasinghe</p>
    </div>
    <div class="row">
        <p><b>EP Number :</b> EP2073</p>
    </div>
    <div class="row">
        <p><b>Register Number :</b> 14/AS/CI/057</p>
    </div>
    
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <h4><b>SUBJECT CODE</b></h4>
        </div>
        <div class="col-md-5">
            <h4><b>SUBJECT NAME</b></h4>
        </div>

    </div>
    
    <div class="row panel">
        <div class="col-md-2"></div>
        <div class="col-md-5">IS 41243</div>
        <div class="col-md-5">Introduction to Distributed Systems</div>

    </div>
    <div class="row panel">
        <div class="col-md-2"></div>
        <div class="col-md-5">IS 41244</div>
        <div class="col-md-5">Information Systems Strategies, Management
                & Acquisition </div>

    </div>
    <div class="row panel">
            <div class="col-md-2"></div>
            <div class="col-md-5">IS 41245</div>
            <div class="col-md-5">Business Process Management</div>
    
    </div>
    <div class="row panel">
            <div class="col-md-2"></div>
            <div class="col-md-5">IS 41246</div>
            <div class="col-md-5">Enterprise Resource Planning</div>
    
    </div>
    <div class="row panel">
            <div class="col-md-2"></div>
            <div class="col-md-5">IS 41247</div>
            <div class="col-md-5">Research Method</div>
    
    </div>
    <div class="row panel">
            <div class="col-md-2"></div>
            <div class="col-md-5">IS 41248</div>
            <div class="col-md-5">Cloud Computing</div>
    
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-7"></div>
                        <div class="col-md-2">
                                <div class="update ml-auto mr-auto">
                                    <button type="button" class="btn  button-container delete">Reject</button>
                                </div>
    
                            </div>
                        <div class="col-md-2">


                            <div class="image">
                                <button type="button" class="btn btn-primary btn-block">Approve</button>
                            </div>
                        </div>
                        

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>