<div class="container">
<br><br><br><br><br>
          <div class="row">
            <div class="col-lg-8 ml-auto mr-auto">
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-5">
                  <div class="d-flex">
                      <div class="dropdown mr-1">
                        <button type="button" alignment="left" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-expanded="false" data-offset="10,20">
                          Year   
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                          <a class="dropdown-item" href="#">1st Year</a>
                          <a class="dropdown-item" href="#">2nd Year</a>
                          <a class="dropdown-item" href="#">3rd Year</a>
                          <a class="dropdown-item" href="#">4th Year</a>
                        </div>
                        
                      </div>
                      <div class="dropdown mr-1">
                          <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-expanded="false" data-offset="10,20">
                            Semester
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                            <a class="dropdown-item" href="#">1st Semester</a>
                            <a class="dropdown-item" href="#">2nd Semester</a>
                          </div>
                      </div>
                    </div>
              
                  </div>
                <div class="col-md-3"></div>

              </div>    
            </div>
          </div> 
        
            
<br>

          <div class="row">
            <div class="col-lg-8 ml-auto mr-auto">
              <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-5">
                    <form>
                        <div class="row">
                          <div class="form-group">
                            <label><b>Course Code</b></label>
                            <input type="text" class="form-control" required>
                          </div>  
                        </div>
                        <div class="row">                        
                          <div class="form-group">
                            <label><b>Subject Name</b></label>
                            <input type="text" class="form-control" required>
                          </div>
                        </div>
                        <div class="row">
                            <div class="d-flex">                            
                              <a routerLink= '/subjectManagement'><button type="submit" class="btn btn-primary btn-container">Cancel</button></a>                         
                              <div class="update ml-auto mr-auto">
                                <button type="submit" class="btn btn-primary btn-container">Add Subject</button>
                              </div>                            
                            </div>
                        </div>
                    </form>                        
                </div>
                <div class="col-md-3"></div>
              </div>    
            </div>
          </div> 
        </div>
              


