<div class="container">
    <br>
    <div class="row"><a routerLink='/studentProfile'> <div class="image" ><i class="fa fa-arrow-left"></i></div></a> </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="d-flex">
                <div class="dropdown mr-1">
                    <button type="button" alignment="left" class="btn btn-secondary dropdown-toggle"
                        id="dropdownMenuOffset" data-toggle="dropdown" aria-expanded="false" data-offset="10,20">
                        Year
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                        <a class="dropdown-item" href="#">1st Year</a>
                        <a class="dropdown-item" href="#">2nd Year</a>
                        <a class="dropdown-item" href="#">3rd Year</a>
                        <a class="dropdown-item" href="#">4th Year</a>
                    </div>

                </div>
                <div class="dropdown mr-1">
                    <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset"
                        data-toggle="dropdown" aria-expanded="false" data-offset="10,20">
                        Semester
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                        <a class="dropdown-item" href="#">1st Semester</a>
                        <a class="dropdown-item" href="#">2nd Semester</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>

    </div>
    <div class="row">
        <div class="col-md-3"><h4><b>Code</b></h4></div>
        <div class="col-md-6"><h4><b>Subject Name</b></h4></div>
        <div class="col-md-3"><h4><b>Select the subject</b></h4></div>
    </div>
    <div class="row panel">
        <div class="col-md-3">IS 41243</div>
        <div class="col-md-6">Introduction to Distributed Systems</div>
        <div class="col-md-3"><label class="container">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label></div>
    </div>
    <div class="row panel">
        <div class="col-md-3">IS 41244</div>
        <div class="col-md-6">Information Systems Strategies, Management
                & Acquisition</div>
        <div class="col-md-3">
            <label class="container">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div class="row panel">
        <div class="col-md-3">IS 41245</div>
        <div class="col-md-6">Business Process Management</div>
        <div class="col-md-3">
            <label class="container">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div class="row panel">
        <div class="col-md-3">IS 41246</div>
        <div class="col-md-6">Enterprise Resource Planning</div>
        <div class="col-md-3">
            <label class="container">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div class="row panel">
        <div class="col-md-3">IS 41247</div>
        <div class="col-md-6">Research Method</div>
        <div class="col-md-3"><label class="container">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label></div>
    </div>
    <div class="row panel">
        <div class="col-md-3">IS 41248</div>
        <div class="col-md-6">Cloud Computing</div>
        <div class="col-md-3"><label class="container">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label></div>
    </div>
    <div class="row panel">
        <div class="col-md-3">IS 41249</div>
        <div class="col-md-6">Logistics Systems and Transportation
                Management </div>
        <div class="col-md-3"><label class="container">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label></div>
    </div>
    <div class="row panel">
        <div class="col-md-3">IS 41250</div>
        <div class="col-md-6">Human Resource Management</div>
        <div class="col-md-3"><label class="container">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label></div>
    </div>
    <div class="row panel">
        <div class="col-md-3">IS 41251</div>
        <div class="col-md-6">Data Mining and Applications</div>
        <div class="col-md-3"><label class="container">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label></div>
    </div>
    <div class="row panel">
        <div class="col-md-3">IS 41252</div>
        <div class="col-md-6">Multimedia and Hypermedia Systems
                Development</div>
        <div class="col-md-3"><label class="container">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">

                            <a routerLink='/ApplyExam'>
                                <div class="image"><button type="submit"
                                        class="btn btn-primary btn-block">Submit</button></div>
                            </a>
                        </div>
                        <div class="col-md-3"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>