<br>
<div class="row"></div>
<div class="row panel">

<div class="col-md-2"></div>
<div class="col-md-8">
        <div class="card card-user">
          <div class="card-header">
            <h5 class="card-title">Edit Profile</h5>
          </div>
          <div class="card-body">
            <br>
            <form>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <br>
              <div class="row">
                <div class="col-md-5 pr-1">
                    <div class="form-group">
                        <label>Designation</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-3 px-1">
                  <div class="form-group">
                    <label>Faculty</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4 pl-1">
                    <div class="form-group">
                        <label>Department</label>
                        <input type="text" class="form-control">  
                    </div>    
                </div>
              </div>
              <br>
              <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                        <label>Registration Number</label>
                        <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <label>Contact Number</label>
                            <input type="number" class="form-control">
                        </div>
                    </div>
                </div>          
              <br>
              <div class="row">
                <div class="col-md-5">
                    <a routerLink='/lecturerProfile'><button type="button" class="btn btn-primary button-container">Cancel</button></a>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-3">
                <div class="update ml-auto mr-auto">
                    <button type="submit" class="btn btn-primary button-container">Update Profile</button>
                </div>
                </div>
              </div>
            </form>
          </div>
        </div>  
</div>
<div class="col-md-2"></div>
</div>
    
