<div class="row"></div>
<div class="row panel">

<div class="col-md-2"></div>
<div class="col-md-8">
        <div class="card card-user">
          <div class="card-header">
            <h5 class="card-title">Lecturer Registration</h5>
          </div>
          <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" placeholder="First Name" required>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" placeholder="Last Name" required>
                        </div>
                    </div>
                </div>
              <div class="row">
                <div class="col-md-5 pr-1">
                  <div class="form-group">
                    <label>Designation</label>
                    <input type="text" class="form-control" placeholder="Designation" required>                              
                  </div>
                </div>
                <div class="col-md-3 px-1">
                  <div class="form-group">
                    <label>Faculty</label>
                    <input type="text" class="form-control" placeholder="Faculty" required>
                  </div>
                </div>
                <div class="col-md-4 pl-1">
                    <div class="form-group">
                        <label>Department</label>
                        <input type="text" class="form-control" placeholder="Department" required>
                        
                    </div>    
                </div>
              </div>
              <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                        <label>Registration Number</label>
                        <input type="text" class="form-control" placeholder="Registration Number" required>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                        <label>Contact Number</label>
                        <input type="number" class="form-control" placeholder="Contact Number">
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                            <label for="exampleInputEmail">Email Address</label>
                            <input type="email" class="form-control" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="Password" required>
                            </div>
                        </div>
                    </div>              
              
              <div class="row">
                <div class="col-md-5">
                    <a routerLink='/lecturerManagement'><button type="submit" class="btn btn-primary btn-container">Cancel</button></a>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-3">
                <div class="update ml-auto mr-auto">
                  <button type="submit" class="btn btn-primary btn-container">Add Lecturer</button>
                </div>
                </div>
              </div>
            </form>
          </div>
        </div>  
</div>
<div class="col-md-2"></div>
</div>
    