
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="places-buttons">
          <div class="row">
            <div class="col-lg-8 ml-auto mr-auto">
              <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                  <a routerLink='/AddNewSubject'><button type="button" class="btn btn-primary btn-block">Add new
                      Subject</button></a>
                </div>
                <div class="col-md-4"> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
          <div class="row button1">
              <div class="col-md-4"></div>
              <div class="col-md-4"></div>
              <div class="col-md-4">
                  <form>
                      <div class="input-group no-border">
                        <input type="text" value="" class="form-control" placeholder="Search by Reg Year, Semester">
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <i class="nc-icon nc-zoom-split"></i>
                          </div>
                        </div>
                      </div>
                  </form>
              </div>
          </div>
          <div class="row">         
            <div class="col-lg-8 ml-auto mr-auto">
              <div class="row">
                  <div class="table-responsive">
                    <div class="row">
                      <div class="col-md-3"><b>Course Code</b></div>
                      <div class="col-md-5"><b>Subject Name</b></div>
                      <div class="col-md-2"><b>Year</b></div>
                      <div class="col-md-2"><b>Semester</b></div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-3">IS 22223</div>
                      <div class="col-md-5">IS Risk Management</div>
                      <div class="col-md-2">2</div>
                      <div class="col-md-2">2</div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">IS 22225</div>
                      <div class="col-md-5">Business Intelligence</div>
                      <div class="col-md-2">2</div>
                      <div class="col-md-2">2</div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">IS 31129</div>
                      <div class="col-md-5">Enterprise Architecture</div>
                      <div class="col-md-2">3</div>
                      <div class="col-md-2">1</div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">IS 31230</div>
                      <div class="col-md-5">Mini Project</div>
                      <div class="col-md-2">2</div>
                      <div class="col-md-2">2</div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">CPE 1201</div>
                      <div class="col-md-5">Professional English 2</div>
                      <div class="col-md-2">1</div>
                      <div class="col-md-2">2</div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">IS 21216</div>
                      <div class="col-md-5">Platform Technologies</div>
                      <div class="col-md-2">2</div>
                      <div class="col-md-2">1</div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">IS 31232</div>
                      <div class="col-md-5">IT Auditing</div>
                      <div class="col-md-2">3</div>
                      <div class="col-md-2">1</div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">IS 31234</div>
                      <div class="col-md-5">Software Engineering</div>
                      <div class="col-md-2">3</div>
                      <div class="col-md-2">1</div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">IS 41247</div>
                      <div class="col-md-5">Research Method</div>
                      <div class="col-md-2">4</div>
                      <div class="col-md-2">1</div>
                    </div>
                    
                   
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>